.logo img {
    float: center;
    Position: relative;
    top: -10px;
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    }

.header {
   background-color: #ffffff
   padding: 18px 18px;
   color: black;
   text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
   font-family: 'Oswald', sans-serif;
   }

.header:after {
   content: "";
   display: table;
   clear: both;
   }

h1 {
    background-color: #db0d0d;
    text-align: center;
    padding: 15px;
    margin-top: 16px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Changa', sans-serif;
    font-family: 'Hind', sans-serif;
    font-family: 'Roboto', sans-serif;
    }


body {
  background-image: url("file:///Users/teju/Desktop/GA/Assignment/Images/white-marble-2048.jpg");
  background-position: center;
  border: none;
  margin-left: auto;
  margin-right: auto;
  height :200px;
  }

input {
    margin: 10;
    background: #9b9b9b;
    border: none;
    border-radius: 0;
    padding: 12px;
    float: center;
    font-size: 17px;
    background-color: #9b9b9b;
    width: 50%
   }



Button {
    margin: 15;
    padding: 15px;
    width: auto;
    background:  #000000;
    color:  white;
    float: center;
    text-align: center;
    font-size: 17px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 8px;
    overflow: hidden;
    }


  Button:hover {opacity:1} {
    background: #000000;
    }


  li {
      cursor: pointer;
      display: block;
      padding: 8px 8px 8px 8px;
      font-size: 18px;
      transition: 0.2s;
      margin: 38px;
      background: #9b9b9b;
      text-align: left;
      }

.Tasks {
   background: #9b9b9b;
   display: block;
   text-align: center;
   border-radius: 8px;
 }
